<style>
.btn-group {
    width: 100%;
}

.btn-group .btn {
    width: 50%;
    height: 50px;
}
</style>

<div class="card shadow mb-4">
        <div class="card-header py-3">

<div class="btn-group text-center panel-body">
    <button type="button" style="margin: 5px;border-radius: 10px;" class="btn btn-block btn-success" data-toggle="modal" data-target="#exampleModal">Safe</button>
    <button onclick="document.location.href='tel:+1-864-567-4106';" type="button" style="margin: 5px;border-radius: 10px;" class="btn btn-block btn-danger">Emergency</button>
</div>

</div>
</div>
