
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="btn-group">
      <button class="btn btn-secondary btn-lg btn-block dropdown-toggle" type="button" style="width:100%;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Home
      </button>
      <div class="dropdown-menu" x-placement="bottom-start" style="width:100%;position: absolute; transform: translate3d(0px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
        <center><a class="dropdown-item" style="width:100%;" href="#">Work</a></center>
        <center><a class="dropdown-item" style="width:100%;" href="#">School</a></center>
        <center><a class="dropdown-item" style="width:100%;" href="#">Other</a></center>
      </div>
    </div>
</div>
</div>

