<div class="card shadow mb-4">
  <div class="card-body">
    <div class="btn-group">
      <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Home
      </button>
      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
        <a class="dropdown-item" href="#">Work</a>
        <a class="dropdown-item" href="#">School</a>
        <a class="dropdown-item" href="#">Other</a>
      </div>
    </div>
</div>
</div>

